@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --icons-color: #4c5773;
  --icons-light-color: #4c577341;
  --icons-bg-color: #e2e6e9;

  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #ffffff;
  --main-bg-color: #ecf0f3;

  /* ✅ Correct box-shadow variable */
  --box-shadow: 
    1rem 1rem 1rem var(--shadow-dark-color),
   -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-small:
    .3rem .3rem 1rem var(--shadow-dark-color),
   -.3rem -.3rem 1rem var(--shadow-light-color);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background: var(--icons-color);
  width: .5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}




.footer{
  width: 100%;
  padding-block: 1.5rem;
  position: relative;
}

.footer_box{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.3fr repeat(2, 1fr) 2fr;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.footer_social{
  display: flex;
  gap: 1.3rem;
  font-size: 1.5rem;
  align-items: center;
}

.footer_social a{
  padding: .5rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  display: grid;
}

.footer_social a:hover{
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  box-shadow: var(--box-shadow);
}

.subscribe_box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 5rem;
  margin-top: 3rem;
}

.subscribe_box input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
  color: var(--shadow-dark-color);
}

.subscribe_box input::placeholder{
  color: var(--shadow-dark-color);
}

.subscribe_box_send{
  cursor: pointer;
  font-size: 2rem;
}

.subscribe_box_info{
  padding: 1rem 2rem;
  
}

@media screen and (max-width: 45em){
  .footer_box{
    width: 90%;
    grid-template-columns: 1fr 2fr ;
  }
}
@media screen and (max-width: 35em){
  .footer_box{
    width: 90%;
    grid-template-columns: 1fr ;
  }
}