@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --icons-color: #4c5773;
  --icons-light-color: #4c577341;
  --icons-bg-color: #e2e6e9;

  --shadow-dark-color: #d3dae7;
  --bg-shadow-dark-color: #d3dae745;
  --shadow-light-color: #ffffff;
  --main-bg-color: #ecf0f3;

  /* ✅ Correct box-shadow variable */
  --box-shadow: 
    1rem 1rem 1rem var(--shadow-dark-color),
   -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-small:
    .3rem .3rem 1rem var(--shadow-dark-color),
   -.3rem -.3rem 1rem var(--shadow-light-color);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background: var(--icons-color);
  width: .5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}






.audioLive{
  width: 100%;
}

.audioLive_box{
  width: 80%;
  margin: 0 auto;
  padding-block:2rem 8rem ;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2rem;
}

.audioLive_box_right{
  padding: .5rem 0 0 0 ;
  display: grid;
  gap: 2rem;
}

.audioLive_box_left{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .audioLive_box{
    width: 90%;
    grid-template-columns: 1fr;
  }

  .audioLive_box_right{
    gap: 2rem;
  }
  .audioLive_box_left{
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}
@media screen and (min-device-width: 377px) and (max-device-width: 425px) {
  .audioLive_box{
    width: 90%;
    grid-template-columns: 1fr;
  }

  .audioLive_box_right{
    gap: 2rem;
  }
  .audioLive_box_left{
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
  .audioLive_box{
    width: 90%;
    grid-template-columns: 1fr;
  }

  .audioLive_box_right{
    gap: 2rem;
  }
  .audioLive_box_left{
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}

.audioCard_box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 4rem);
  gap: 1rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}

.audioCard_box_like_time{
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  z-index: 123;
}

.audioCard_box_like{
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  display: flex;
  align-items: center;
  gap: .7rem;
  padding: 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
}

.audioCard_box_like_icon{
  color: red;
  font-size: 2rem;
}

.audioCard_box_like_icon_unlike{
  color: red;
  font-size: 2rem;
}

.audioCard_box_time{
  background-color: var(--main-bg-color);
  padding: 1rem 4.5rem;
  margin-right: -1.4rem;
  transform: skewX(35deg);
  border-bottom-left-radius: 1rem;
}

.audioCard_box_like_time_remaining{
  transform: skewX(-35deg);
  text-align: center;
}

.audioCard_box_like_time_remaining small{
  font-weight: 500;
}

.audioCard_box_like_time_remaining h5{
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

.audioCard_box_player{
  grid-column: 1/-1;
  grid-row: 4 / 5;
  display: flex;
  padding-inline: 3rem;
  gap: 4rem;
  z-index: 1234;
  align-items: center;
}

.audioCard_box_musicPLayer_icon{
  padding: 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  font-size: 2rem;
  cursor: pointer;
}

.audioCard_box_img{
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.audioCard_box_details{
  grid-column: 1/-1;
  grid-row: 5/-1;
  z-index: 123;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 1rem 0;
  width: 90%;
  border-top-right-radius: 2rem;
  padding: 2rem;
  line-height: .1;
}

.audioCard_box_details_info h4{
  font-size: 1.1rem;
  line-height: 0;
}

.audioCard_box_details_info_price{
  border: 1px solid var(--icons-color);
  padding: .5rem 1rem;
  border-radius: .5rem;
  height: 3rem;
  cursor: pointer;
}

.audioCard_box_details_info_price small{
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: .4rem .5rem;
  border-radius: .5rem;
}

.audioCard_box_details_info_price p {
  line-height: 1.2;
  font-weight: 700;
}

.audioCard_box_details_stock{
  text-align: end;
  display: grid;
}

.audioCard_box_details_stock small{
  margin-top: 2rem;
}

@media screen and (max-width: 35rem) {
  .audioCard_box_time{
    padding-inline: 2.5rem;
  }

  .audioCard_box_like_time_remaining h5{
    font-size: 1rem;
  }

  .audioCard_box_details{
    padding: 1rem;
  }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
  .audioCard_box_like_time_remaining h5{
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
  .audioCard_box_time{
    padding: 1rem 2rem;
  }
  .audioCard_box_like_time_remaining h5{
    font-size: 1rem;
  }
  .audioCard_box_details_info h4{
    font-size: 1rem;
  }
}


.audioPlayer_box{
  display: grid;
  grid-template-columns: 2fr 5fr 1fr ;
  align-items: center;
  gap: 1.3rem;
  line-height: 0;
  background-color: var(--bg-shadow-dark-color);
  padding: .5rem 1rem;
  border-radius: 1rem;
  height: 8rem;
  transition: all .3s ease-in;
  cursor: pointer;
}

.audioPlayer_box:hover{
  box-shadow: var(--box-shadow);
}

.audioPlayer_box_info_box{
  display: flex;
  gap: 1rem;
}

.audioPlayer_box_img{
  border-radius: .5rem;
}

.audioPlayer_box_info_box_price{
  border: 1px solid var(--icons-color);
  font-size: .8rem;
  width: 40%;
  font-weight: 600;
  border-radius: .2rem;
}

.audioPlayer_box_info_box_price small{
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: .1rem .3rem;
  border-radius: .2rem;
}

.audioPlayer_box_info_box_price p{
  margin-top: 1rem;
}

.audioPlayer_box_playBtn{
  font-size: 2rem;
  background-color: var(--main-bg-color);
  border-radius: 50%;
}