@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --icons-color: #4c5773;
  --icons-light-color: #4c577341;
  --icons-bg-color: #e2e6e9;

  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #ffffff;
  --main-bg-color: #ecf0f3;

  /* ✅ Correct box-shadow variable */
  --box-shadow: 
    1rem 1rem 1rem var(--shadow-dark-color),
   -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-small:
    .3rem .3rem 1rem var(--shadow-dark-color),
   -.3rem -.3rem 1rem var(--shadow-light-color);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background: var(--icons-color);
  width: .5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}






.notification{
  position: absolute;
  padding: 2rem 1rem;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  width: 25rem;
  border-radius: 1rem;
  left: -20rem;
  top: 3.5rem;
  z-index: 222222222;
  background-color: var(--main-bg-color);
}

.notification > p {
  font-size:   1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.notification_box{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  transition: all .3s ease-in;
}

.notification_box:hover{
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: .3rem;
}

.notification_box_img{
  border-radius: 5rem;
}

.notification_box_info{
  line-height: 0;
  margin-top: -.8rem;
}

.notification_box_info h4 {
  font-weight: 600;
}

.notification_box_info p {
  font-size: 15px;
  line-height: .3;
  position: relative;
}

.notification_box_new{
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: aqua;
}

@media screen and (max-width: 35em) {
  .notification{
    width: 20rem;
    left: -15rem;
  }
  .notification_box{
    padding: .3rem;
  }
  .notification_box p{
    font-size: 12px;
  }
}

.profile{
  position: absolute;
  padding: 2rem .5rem;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  width: 20rem;
  border-radius: 1rem;
  left: -17rem;
  top: 4.5rem;
  z-index: 2222222222;
  background-color: var(--main-bg-color);
}

.profile_account{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.profile_account_img{
  border-radius: 50%;
}

.profile_account_info{
  line-height: 0.3;
}

.profile_account_info p{
  font-weight: 600;
}
.profile_menu_one_item{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0rem 1.5rem;
  transition: all .3s ease-in;
}

.profile_menu_one_item:hover{
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: .3rem;
}










/* =============sidebar================== */

.sideBar_box{
  padding: 2rem;
  border-bottom: 1px solid var(--icons-color);
}

.sideBar_closeBtn{
  position: absolute;
  top: 3rem;
  right: 2rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.sideBar_closeBtn:hover{
  transform: rotate(45deg);
}

.sideBar_box p{
  margin-top: -2rem;
}

.sideBar_social{
  display: flex;
  gap: 1.3rem;
  font-size: 1.5rem;
  align-items: center;
}


.sideBar_social a {
  padding: .2rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  display: grid;
}

.sideBar_social a:hover{
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  box-shadow: 1px solid var(--icons-color);
}